<header class="header-fixed">
  <div class="header-limiter">
    <h1>
      <a href="#">Company<span>logo</span></a>
    </h1>

    <nav>
      <a routerLink="/products">Home</a>
      <a routerLink="/cart">Cart</a>
    </nav>
  </div>
</header>
