<div class="listing-section">
  <ng-container *ngIf="products$ | async as products">
    <div class="product" *ngFor="let product of products">
      <div class="image-box">
        <div class="images" id="image-{{ product.id }}"></div>
      </div>
      <div class="text-box">
        <h2 class="item">{{ product.name }}</h2>
        <h3 class="price">$4.99</h3>
        <p class="description">{{ product.desc }}</p>
        <label for="item-2-quantity">Quantity:</label>
        <input
          type="text"
          name="item-2-quantity"
          id="item-2-quantity"
          value="1"
        />
        <button
          (click)="addTocart(product.id)"
          type="button"
          name="item-2-button"
          id="item-2-button"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </ng-container>
</div>
